@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Montserrat', sans-serif;
}

.blur {
	filter: blur(30px);
}

.image-transition {
	transition: opacity 0.5s ease-in-out;
	opacity: 0; /* Start invisible */
}

.image-transition.visible {
	opacity: 1; /* Fade in when visible */
}

/* Для WebKit-браузеров (Chrome, Safari) */
.overflow-auto::-webkit-scrollbar {
	width: 0;
	height: 0;
}

/* Для Firefox */
.overflow-auto {
	scrollbar-width: none; /* Скрыть скроллбар в Firefox */
}

/* Универсальное решение для всех */
.overflow-auto {
	-ms-overflow-style: none; /* Скрыть скроллбар в IE и Edge */
}
